@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Bowlby+One+SC&family=Lobster&family=Marck+Script&family=Patrick+Hand&family=Rock+Salt&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  position: fixed;
  width: 100%;
  z-index: 2; }

.navbar-brand {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-family: 'WindSong', cursive; }

/* index */
.imagenFondo {
  padding-top: 5em;
  background-image: url(../assets/multimedia/fotomic.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 50em; }
  .imagenFondo__1 {
    margin-left: 12rem;
    line-height: 8rem; }
    .imagenFondo__1 .btn {
      margin-left: 10rem; }
  .imagenFondo__2--btnWpp {
    position: fixed;
    width: 3rem;
    height: 3rem;
    bottom: 3rem;
    right: 8rem;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 2rem;
    z-index: 100;
    text-shadow: 2px 2px 8px #000;
    box-shadow: 2px 2px 8px #000; }
  .imagenFondo__2:hover {
    transform: scale(1.1, 1.1);
    transition: 1s; }

.parte2 {
  background-image: url(../assets/multimedia/grabaciones-min.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100vw;
  height: 50em;
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center; }
  .parte2__foto1 {
    width: 33rem;
    border-radius: 10px;
    box-shadow: #000 10px 5px 15px; }
  .parte2__texto {
    width: 22rem;
    height: auto;
    padding: 2rem;
    margin-top: 1rem;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(172, 172, 172, 0.527);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    box-shadow: 2px 2px 8px #000; }

.microfono {
  height: 35rem;
  padding-top: 6em; }

.servicios {
  width: 100%;
  padding-top: 4rem; }
  .servicios__encabezado {
    background-image: url(../assets/multimedia/file.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center; }
    .servicios__encabezado--texto {
      display: flex;
      flex-direction: column;
      text-align: center;
      background: none;
      box-shadow: none; }
      .servicios__encabezado--texto h2 {
        text-align: center;
        color: white;
        border: #000; }
  .servicios__cards {
    display: flex;
    justify-content: space-around;
    background-color: gainsboro;
    padding: 2em;
    flex-wrap: wrap; }
    .servicios__cards img {
      box-shadow: 1px 1px 5px #434343; }
    .servicios__cards--card {
      margin: 2em;
      text-align: center; }
      .servicios__cards--card:hover {
        transform: scale(1.1, 1.1);
        border: solid 1px #000; }

/* MODALIDADES */
.containerMod {
  text-align: center;
  padding-top: 4rem; }
  .containerMod__titulo {
    background-image: url(../assets/multimedia/Clases+Guitarra-min.jpg);
    background-size: cover;
    background-position: center; }
  .containerMod__pageCards {
    background-color: gainsboro;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px; }
    .containerMod__pageCards .imgMod {
      padding: 5px; }
    .containerMod__pageCards--titulo {
      padding-top: 0em;
      padding-bottom: 0em;
      font-size: 36px;
      color: #000;
      background: none; }
    .containerMod__pageCards--parrafo {
      font-size: 18.75px;
      background: none; }
    .containerMod__pageCards--inscribirme {
      text-transform: uppercase;
      margin-bottom: 1em; }

.tarjetaPresentacion {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: gainsboro;
  padding-top: 4rem; }
  .tarjetaPresentacion__imagen {
    width: 50%; }
    .tarjetaPresentacion__imagen img {
      width: 100%; }
  .tarjetaPresentacion__texto {
    margin: 2em;
    background-color: white !important; }

.pagContacto {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 2rem; }
  .pagContacto__bloque1 {
    text-align: center; }
    .pagContacto__bloque1--form {
      background-color: gainsboro;
      border-radius: 20px;
      box-shadow: 2px 2px 8px #000; }
      .pagContacto__bloque1--form--bordes--formulario {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .pagContacto__bloque1--form--bordes--formulario--contenido {
          padding-bottom: 1rem; }
          .pagContacto__bloque1--form--bordes--formulario--contenido input {
            border-radius: 50px;
            box-shadow: 2px 2px 8px #000; }
          .pagContacto__bloque1--form--bordes--formulario--contenido textarea {
            border-radius: 20px;
            box-shadow: 2px 2px 8px #000; }
        .pagContacto__bloque1--form--bordes--formulario--boton .btn {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 1rem;
          text-transform: uppercase;
          margin-top: -2rem;
          margin-bottom: 1rem;
          border-radius: 5px;
          border: 1pz solid white;
          text-shadow: 0px 1px 0px #000;
          padding: 1rem 3rem;
          background-color: #000;
          color: white; }
        .pagContacto__bloque1--form--bordes--formulario--boton :hover {
          background: white;
          color: #000;
          border: 1px solid #434343; }
  .pagContacto__bloque2 {
    width: 50%; }
    .pagContacto__bloque2 img {
      width: 100%; }

.tituloHome {
  font-family: 'Lobster', cursive;
  font-size: 10vw;
  width: 30rem;
  padding-top: 8rem;
  text-align: center;
  color: white;
  line-height: 8rem;
  text-shadow: 10px 10px 15px #000; }

.tituloUnpocodemi {
  font-family: 'Lobster', cursive;
  font-size: 4rem;
  color: #000; }

.tituloContacto {
  font-family: 'Lobster', cursive;
  font-size: 6rem;
  padding-top: 0.5em;
  color: #000; }

.tituloModalidades {
  font-family: 'Lobster', cursive;
  font-size: 14vw;
  color: white;
  padding-top: 19rem;
  text-shadow: 10px 10px 15px #000; }

.tituloServicios {
  font-family: 'Lobster', cursive;
  font-size: 15vw;
  color: white;
  padding-top: 3rem;
  text-shadow: 10px 10px 15px #000; }

p {
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: 600; }

.parrafo1 {
  font-size: 10px;
  color: black;
  word-spacing: 5px; }

.parrafo2 {
  font-size: 20px;
  color: black;
  word-spacing: 10px; }

.parrafo3 {
  font-size: 30px;
  color: black;
  word-spacing: 15px; }

.parrafo4 {
  font-size: 40px;
  color: black;
  word-spacing: 20px; }

.botonIndex {
  width: 10rem;
  height: 3rem;
  font-size: 1.5em;
  color: white;
  background-color: #af2900; }

.page-section__form__bordes__formulario__boton {
  width: 10rem;
  height: 3rem;
  font-size: 1.5em;
  color: #000;
  background-color: aqua; }

.footer {
  padding-top: 2em;
  display: flex;
  justify-content: center; }
  .footer-col ul li a {
    color: #000; }

/* media queries */
@media screen and (max-width: 480px) {
  .bienvenido__parrafo {
    font-size: 10vw; }
  .bienvenido__btnWpp {
    position: fixed;
    width: 2rem;
    height: 2rem;
    margin-bottom: 15rem;
    margin-right: -8rem; }
  .servicios__encabezado--texto {
    display: grid;
    grid-template-rows: repeat(8, 1fr); }
    .servicios__encabezado--texto h1 {
      font-size: 13vh; }
    .servicios__encabezado--texto h2 {
      grid-row: 7 / 8;
      width: 90%;
      padding-left: 2em; }
  .containerMod__titulo {
    background-size: contain; }
  .containerMod__pageCards {
    display: grid;
    padding-left: 0.5em; }
  .tarjetaPresentacion {
    display: flex;
    flex-direction: column; }
    .tarjetaPresentacion__imagen {
      width: 100%; }
    .tarjetaPresentacion__texto {
      width: 90vw !important;
      padding-left: -2rem;
      margin: 0.4rem; }
  .pagContacto {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 2rem;
    background-color: gainsboro; }
    .pagContacto__bloque1 {
      text-align: center; }
      .pagContacto__bloque1--form {
        background-color: gainsboro;
        border-radius: 20px;
        box-shadow: 2px 2px 8px #000; }
        .pagContacto__bloque1--form--bordes--formulario {
          display: flex;
          flex-direction: column;
          align-items: center; }
          .pagContacto__bloque1--form--bordes--formulario--contenido {
            padding-bottom: 1rem; }
            .pagContacto__bloque1--form--bordes--formulario--contenido input {
              border-radius: 50px;
              box-shadow: 2px 2px 8px #000; }
            .pagContacto__bloque1--form--bordes--formulario--contenido textarea {
              border-radius: 20px;
              box-shadow: 2px 2px 8px #000; }
          .pagContacto__bloque1--form--bordes--formulario--boton .btn {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1rem;
            text-transform: uppercase;
            margin-top: -2rem;
            margin-bottom: 1rem;
            border-radius: 5px;
            border: 1pz solid white;
            text-shadow: 0px 1px 0px #000;
            padding: 1rem 3rem;
            background-color: #000;
            color: white; }
          .pagContacto__bloque1--form--bordes--formulario--boton :hover {
            background: white;
            color: #000;
            border: 1px solid #434343; }
    .pagContacto__bloque2 {
      width: 100%; }
      .pagContacto__bloque2 img {
        width: 100%; }
  .footer h3 {
    font-size: 1em; }
  .footer p {
    font-size: 0.8em; }
  .footer-col {
    padding: 1em; }
    .footer-col .redes {
      display: flex;
      justify-content: space-evenly;
      padding-top: 1em; }
    .footer-col ul {
      display: flex;
      flex-wrap: wrap;
      font-size: 0.8em;
      justify-content: center; } }
