@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Bowlby+One+SC&family=Lobster&family=Marck+Script&family=Patrick+Hand&family=Rock+Salt&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  position: fixed;
  width: 100% !important;
  z-index: 2; }

.navbar-brand {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-family: 'WindSong', cursive; }

/* index */
.imagenFondo {
  padding-top: 5em;
  background-image: url(../assets/multimedia/fotomic.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 50em; }
  .imagenFondo__1 {
    margin-left: 12rem;
    line-height: 8rem; }
    .imagenFondo__1 .btn {
      margin-left: 10rem; }
  .imagenFondo__2--btnWpp {
    position: fixed;
    width: 3rem;
    height: 3rem;
    bottom: 3rem;
    right: 8rem;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 2rem;
    z-index: 100;
    text-shadow: 2px 2px 8px #000;
    box-shadow: 2px 2px 8px #000; }
  .imagenFondo__2:hover {
    transform: scale(1.1, 1.1);
    transition: 1s; }

.parte2 {
  background-image: url(../assets/multimedia/grabaciones-min.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 50em;
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center; }
  .parte2__foto1 {
    width: 38.5%;
    border-radius: 10px;
    box-shadow: #000 10px 5px 15px; }
  .parte2__texto {
    width: 22rem;
    height: auto;
    padding: 2rem;
    margin-top: 1rem;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(172, 172, 172, 0.527);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    box-shadow: 2px 2px 8px #000; }

.servicios {
  width: 100%;
  padding-top: 4rem; }
  .servicios__encabezado {
    background-image: url(../assets/multimedia/servicios-min.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center; }
    .servicios__encabezado--texto {
      display: flex;
      flex-direction: column;
      text-align: center;
      background: none;
      box-shadow: none; }
      .servicios__encabezado--texto h2 {
        text-align: center;
        color: white;
        border: #000; }
  .servicios__cards {
    display: flex;
    justify-content: space-evenly;
    background-image: url(../assets/multimedia/foto9-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    padding-left: 2em;
    padding-right: 4em;
    padding-bottom: 3em;
    flex-wrap: wrap; }
    .servicios__cards img {
      box-shadow: 1px 1px 5px #434343; }
    .servicios__cards--card {
      width: 18rem;
      height: auto;
      margin: 4em;
      text-align: center;
      background: none;
      padding: 0.5em; }
      .servicios__cards--card:hover {
        transform: scale(1.1, 1.1); }
        .servicios__cards--card:hover img {
          transform: rotateY(180deg); }
      .servicios__cards--card--tarj {
        color: white;
        background-color: rgba(0, 0, 0, 0.815); }

/* MODALIDADES */
.containerMod {
  text-align: center;
  padding-top: 4rem;
  background-image: url(../assets/multimedia/foto4-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  width: 100%;
  height: 200vh; }
  .containerMod__pv {
    padding-top: 1rem;
    display: flex;
    justify-content: center; }
    .containerMod__pv--card {
      width: 25rem;
      height: auto;
      margin: 2em;
      text-align: center;
      background: none;
      padding: 0.5em; }
      .containerMod__pv--card:hover {
        transform: scale(1.1, 1.1); }
      .containerMod__pv--card--tarj {
        color: white;
        background-color: rgba(0, 0, 0, 0.815); }
        .containerMod__pv--card--tarj--titulo {
          font-size: 200%; }
        .containerMod__pv--card--tarj--texto {
          font-size: 120%;
          padding-bottom: 5%; }

.tarjetaPresentacion {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: gainsboro;
  padding-top: 4rem; }
  .tarjetaPresentacion__imagen {
    width: 50%; }
    .tarjetaPresentacion__imagen img {
      width: 100%; }
  .tarjetaPresentacion__texto {
    width: 50%;
    background-color: white !important;
    padding: 3%;
    padding-top: 2%;
    padding-bottom: 0%;
    text-align: justify;
    line-height: 1.5rem; }
    .tarjetaPresentacion__texto--p--lista {
      display: flex;
      justify-content: space-evenly; }

.pagContacto {
  padding-top: 2rem;
  background-image: url(../assets/multimedia/show.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 150vh; }
  .pagContacto__bloque1 {
    text-align: center; }
    .pagContacto__bloque1--form {
      background-color: gainsboro;
      border-radius: 20px;
      box-shadow: 2px 2px 8px #000; }
      .pagContacto__bloque1--form--bordes--formulario {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .pagContacto__bloque1--form--bordes--formulario--contenido {
          padding-bottom: 1rem; }
          .pagContacto__bloque1--form--bordes--formulario--contenido input {
            border-radius: 50px;
            box-shadow: 2px 2px 8px #000; }
          .pagContacto__bloque1--form--bordes--formulario--contenido textarea {
            border-radius: 20px;
            box-shadow: 2px 2px 8px #000;
            margin-bottom: -2em; }

.boody {
  font-family: sans-serif;
  background-color: #000;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .boody__container-404 {
    text-align: center;
    width: 100%;
    max-width: 30rem;
    text-decoration: none;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    line-height: 1.7;
    color: #434343; }
    .boody__container-404--mic {
      width: 20em; }
    .boody__container-404--titulo {
      font-family: 'Lobster', cursive;
      font-size: 4em; }

.tituloHome {
  font-family: 'Lobster', cursive;
  font-size: 10vw;
  width: 40%;
  margin-top: 5rem;
  text-align: center;
  color: white;
  line-height: 8rem;
  text-shadow: 10px 10px 15px #000; }

.tituloUnpocodemi {
  font-family: 'Lobster', cursive;
  font-size: 7vw;
  color: #000;
  line-height: 5rem;
  text-align: center; }

.tituloContacto {
  font-family: 'Lobster', cursive;
  font-size: 8rem;
  padding-top: 0.5em;
  color: #000; }

.tituloModalidades {
  font-family: 'Lobster', cursive;
  font-size: 14vw;
  color: white;
  padding-top: 4rem;
  text-shadow: 10px 10px 15px #000; }

.tituloServicios {
  font-family: 'Lobster', cursive;
  font-size: 15vw;
  color: white;
  padding-top: 3rem;
  text-shadow: 10px 10px 15px #000; }

p {
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: 600; }

.parrafo1 {
  font-size: 10px;
  color: black;
  word-spacing: 5px; }

.parrafo2 {
  font-size: 20px;
  color: black;
  word-spacing: 10px; }

.parrafo3 {
  font-size: 30px;
  color: black;
  word-spacing: 15px; }

.parrafo4 {
  font-size: 40px;
  color: black;
  word-spacing: 20px; }

.botonIndex {
  width: 10rem;
  height: 3rem;
  font-size: 1.5em;
  color: white;
  background-color: #af2900; }

.page-section__form__bordes__formulario__boton {
  width: 10rem;
  height: 3rem;
  font-size: 1.5em;
  color: #000;
  background-color: aqua; }

.footer {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
  color: #434343; }
  .footer-col ul li a {
    color: #434343; }
  .footer-col ul li .btn-social {
    font-size: 2em; }

/* media queries */
@media screen and (max-width: 480px) {
  .imagenFondo {
    background-image: url(../assets/multimedia/fotomic2-min.jpg);
    padding-top: 1.5em; }
    .imagenFondo__1 {
      margin-left: -1rem; }
      .imagenFondo__1 .btn {
        margin-left: 7rem;
        margin-top: 14em; }
      .imagenFondo__1 .tituloHome {
        font-size: 5em;
        line-height: 4rem;
        width: 100%; }
    .imagenFondo__2--btnWpp {
      margin-bottom: 5rem;
      margin-right: -5rem; }
  .parte2 {
    background-color: #a5472a;
    display: flex;
    flex-direction: column-reverse; }
    .parte2__foto1 {
      width: 100%;
      border-radius: 10px;
      box-shadow: #000 10px 5px 15px; }
    .parte2__texto {
      width: 80%;
      height: auto;
      padding: 1rem;
      margin-top: 1rem;
      border-radius: 10px;
      text-align: center;
      background-color: rgba(172, 172, 172, 0.527);
      color: white;
      font-family: 'Poppins', sans-serif;
      font-size: 100%;
      box-shadow: 2px 2px 8px #000; }
  .servicios__encabezado--texto .tituloServicios {
    margin-top: -6rem;
    font-size: 5em; }
  .servicios__encabezado--texto h2 {
    margin-top: 10em; }
  .servicios__cards {
    display: flex;
    justify-content: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 3em; }
    .servicios__cards--card {
      padding: 0.1em;
      margin: 0.5em;
      margin-top: 3em;
      width: 20rem; }
  .tituloModalidades {
    font-size: 4em; }
  .containerMod {
    height: auto; }
    .containerMod__pv {
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 2em; }
      .containerMod__pv--card {
        width: 19rem;
        height: auto;
        margin: 2em;
        text-align: center;
        background: none;
        padding: 0.5em; }
        .containerMod__pv--card:hover {
          transform: scale(1.1, 1.1); }
        .containerMod__pv--card--tarj {
          color: white;
          background-color: rgba(0, 0, 0, 0.815); }
          .containerMod__pv--card--tarj--titulo {
            font-size: 200%; }
          .containerMod__pv--card--tarj--texto {
            font-size: 120%;
            padding-bottom: 5%; }
  .tarjetaPresentacion {
    display: flex;
    flex-direction: column; }
    .tarjetaPresentacion__imagen {
      width: 100%; }
    .tarjetaPresentacion__texto {
      width: 100vw; }
  .pagContacto {
    height: 130vh; }
    .pagContacto__bloque1 .tituloContacto {
      font-size: 5em;
      padding-top: 1em; }
  .footer h3 {
    font-size: 1em; }
  .footer p {
    font-size: 0.8em; }
  .footer-col {
    padding: 1em; }
    .footer-col .redes {
      display: flex;
      justify-content: space-evenly;
      padding-top: 1em; }
    .footer-col ul {
      display: flex;
      flex-wrap: wrap;
      font-size: 0.8em;
      justify-content: center; } }
