@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Bowlby+One+SC&family=Lobster&family=Marck+Script&family=Patrick+Hand&family=Rock+Salt&family=Shadows+Into+Light&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navbar-brand {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-family: 'WindSong', cursive; }

/* index */
img {
  width: 100%; }

.bienvenido {
  width: 100%;
  align-items: center;
  background-color: gainsboro;
  text-align: center; }
  .bienvenido__titulo {
    letter-spacing: 2px;
    margin-top: -0.8em; }
  .bienvenido__parrafo {
    font-family: 'Shadows Into Light', cursive;
    font-size: 2vw;
    font-weight: 500;
    color: #000;
    letter-spacing: 2px;
    padding: 1em;
    padding-left: 21%;
    padding-right: 21%; }
  .bienvenido__wpp {
    width: 4rem;
    height: 6rem;
    padding-bottom: 2rem; }
    .bienvenido__wpp:hover {
      width: 5rem;
      height: 7rem;
      transition: 2s; }

.servicios {
  width: 100%; }
  .servicios__encabezado {
    background-image: url(../assets/multimedia/file.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center; }
    .servicios__encabezado--texto {
      display: flex;
      flex-direction: column;
      text-align: center;
      background: none;
      box-shadow: none; }
      .servicios__encabezado--texto h2 {
        text-align: center;
        color: white;
        border: #000; }
  .servicios__cards {
    display: flex;
    justify-content: space-around;
    background-color: gainsboro;
    padding: 2em;
    flex-wrap: wrap; }
    .servicios__cards--card {
      margin: 2em;
      text-align: center; }

/* MODALIDADES */
.containerMod {
  text-align: center;
  background-color: gainsboro; }
  .containerMod__titulo {
    background-image: url(../assets/multimedia/Clases+Guitarra-min.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center; }
  .containerMod__pageCards {
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px; }
    .containerMod__pageCards--titulo {
      padding: 1rem;
      font-size: 45px;
      color: black; }
    .containerMod__pageCards--parrafo {
      font-size: 20px; }
    .containerMod__pageCards--inscribirme {
      text-transform: uppercase; }

.tarjetaPresentacion {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: gainsboro; }
  .tarjetaPresentacion__imagen {
    width: 50%; }
    .tarjetaPresentacion__imagen img {
      width: 100%; }
  .tarjetaPresentacion__texto {
    margin: 1em;
    padding: 2em;
    background-color: white !important; }

.pagContacto {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: gainsboro; }
  .pagContacto__bloque1 {
    margin-left: 3rem;
    text-align: center; }
    .pagContacto__bloque1--form {
      background-color: gainsboro;
      border-radius: 20px;
      box-shadow: 2px 2px 8px #000; }
      .pagContacto__bloque1--form--bordes--formulario {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .pagContacto__bloque1--form--bordes--formulario--contenido {
          padding-bottom: 1rem; }
          .pagContacto__bloque1--form--bordes--formulario--contenido input {
            border-radius: 50px;
            box-shadow: 2px 2px 8px #000; }
          .pagContacto__bloque1--form--bordes--formulario--contenido textarea {
            border-radius: 20px;
            box-shadow: 2px 2px 8px #000; }
        .pagContacto__bloque1--form--bordes--formulario--boton {
          font-family: Arial, Helvetica, sans-serif;
          margin-top: -2rem;
          margin-bottom: 1rem;
          border-radius: 10px;
          box-shadow: 2px 4px 10px #000; }
          .pagContacto__bloque1--form--bordes--formulario--boton :hover {
            background: gainsboro;
            border: solid 2px white; }
  .pagContacto__bloque2 {
    width: 50%; }
    .pagContacto__bloque2 img {
      width: 100%; }

.tituloHome {
  font-family: 'Lobster', cursive;
  font-size: 12vw;
  color: white;
  text-shadow: 5px 6px 8px #000; }

.tituloUnpocodemi {
  font-family: 'Lobster', cursive;
  font-size: 4rem;
  color: black; }

.tituloContacto {
  font-family: 'Lobster', cursive;
  font-size: 6rem;
  padding-top: 0.5em;
  padding-left: 0.5em;
  color: black; }

.tituloModalidades {
  font-family: 'Lobster', cursive;
  font-size: 11rem;
  color: white;
  padding-top: 19rem;
  text-shadow: 10px 10px 15px #000; }

.tituloServicios {
  font-family: 'Lobster', cursive;
  font-size: 12rem;
  color: white;
  padding-top: 3rem;
  text-shadow: 10px 10px 15px #000; }

p {
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: 600; }

.parrafo1 {
  font-size: 10px;
  color: yellowgreen;
  word-spacing: 5px; }

.parrafo2 {
  font-size: 20px;
  color: #ffff64;
  word-spacing: 10px; }

.parrafo3 {
  font-size: 30px;
  color: #ffff96;
  word-spacing: 15px; }

.parrafo4 {
  font-size: 40px;
  color: #ffffc8;
  word-spacing: 20px; }

.botonIndex {
  width: 10rem;
  height: 3rem;
  font-size: 1.5em;
  color: white;
  background-color: #af2900; }

.page-section__form__bordes__formulario__boton {
  width: 10rem;
  height: 3rem;
  font-size: 1.5em;
  color: black;
  background-color: aqua; }

.footer {
  padding-top: 2em; }
  .footer-col ul li a {
    color: black; }

/* media queries */
@media screen and (max-width: 480px) {
  .bienvenido__parrafo {
    font-size: 3vw; }
  .bienvenido__wpp {
    width: 2rem;
    height: 4rem; }
    .bienvenido__wpp:hover {
      width: 3rem;
      height: 5rem; }
  .footer h3 {
    font-size: 1em; }
  .footer p {
    font-size: 0.8em; }
  .footer-col {
    padding: 1em; }
    .footer-col .redes {
      display: flex;
      justify-content: space-evenly;
      padding-top: 1em; }
    .footer-col ul {
      display: flex;
      flex-wrap: wrap;
      font-size: 0.8em;
      justify-content: center; } }
