@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Bowlby+One+SC&family=Lobster&family=Marck+Script&family=Patrick+Hand&family=Rock+Salt&family=Shadows+Into+Light&display=swap');

// VARIABLES
$primary-background: gainsboro;
$secondary-font: linear-gradient(90deg, rgba(27, 91, 163, 1) 0%, rgba(79, 172, 177, 1) 55%, rgba(26, 226, 146, 1) 95%);
$third-font: yellowgreen;
$forty-font: #edcb54;
$font-size: 30px;
$page: home;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: 'WindSong', cursive;
}

/* index */
img {
    width: 100%;
}

.bienvenido {
    width: 100%;
    align-items: center;
    background-color: $primary-background;
    text-align: center;


    &__titulo {
        letter-spacing: 2px;
        margin-top: -0.8em;
    } 
       

    &__parrafo {
        font-family: 'Shadows Into Light', cursive;
        font-size: 2vw;
        font-weight: 500;
        color: #000;
        letter-spacing: 2px;
        padding: 1em;
        padding-left: 21%;
        padding-right: 21%;
    }

    &__wpp {
        width: 4rem;
        height: 6rem;
        padding-bottom: 2rem;

        &:hover {
            width: 5rem;
            height: 7rem;
            transition: 2s;
        }
    }
}

// servicios

.servicios{
    width: 100%;
    &__encabezado {
        background-image: url(../assets/multimedia/file.jpg);
        background-size: cover;
        background-position: center center;
        position: relative;
        height: 80vh;
        display: flex;
        justify-content: space-evenly;
        align-content: center;

        &--texto{
            display: flex;
            flex-direction: column;
            text-align: center;
            background: none;
            box-shadow: none;
          
            h2{
                text-align: center;
                color: white;
                border: #000;
            }
        }
    }
    
    &__cards {
        display: flex;
        justify-content: space-around;
        background-color: $primary-background;
        padding: 2em;
        flex-wrap: wrap;
            &--card {
                margin: 2em;
                text-align: center;
            }
        }
    }


/* MODALIDADES */
.containerMod {
    text-align: center;
    background-color: $primary-background;

    &__titulo {
        background-image: url(../assets/multimedia/Clases+Guitarra-min.jpg);
        height: 80vh;
        background-size: cover;
        background-position: center;
    }

    &__pageCards {
        padding-top: 2em;
        padding-bottom: 2em;
        display: flex;
        justify-content: space-evenly;
        font-size: $font-size;

        &--titulo {
            padding: 1rem;
            font-size: $font-size * 1.5;
            color: black;
        }

        &--parrafo {
            font-size: $font-size / 1.5;
        }

        &--inscribirme {
            text-transform: uppercase;
        }
    }
}


// un poco de mi

.tarjetaPresentacion {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: $primary-background;

    &__imagen {
        width: 50%;

        img {
            width: 100%;
        }
    }

    &__texto {
        margin: 1em;
        padding: 2em;
        background-color: white !important;
    }
}

//CONTACTO

.pagContacto {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $primary-background;

    &__bloque1 {
        margin-left: 3rem;
        text-align: center;

        &--form {
            background-color: $primary-background;
            border-radius: 20px;
            box-shadow: 2px 2px 8px #000;

            &--bordes {
                &--formulario {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                 

                    &--contenido {
                        padding-bottom: 1rem;
                       
                        input{
                            border-radius: 50px;
                            box-shadow: 2px 2px 8px #000;
                        }
                        textarea{
                            border-radius: 20px;
                            box-shadow: 2px 2px 8px #000; 
                        }
                    }

                    &--boton {
                        font-family: Arial, Helvetica, sans-serif;
                        margin-top: -2rem;
                        margin-bottom: 1rem;
                        border-radius: 10px;
                        box-shadow: 2px 4px 10px #000; 
                        :hover{
                            background:$primary-background;
                            border: solid 2px white;
                        }
                    }
                }
            }
        }
    }

    &__bloque2 {
        width: 50%;

        img {
            width: 100%;
        }
    }
}


// header

@each $titulo in tituloHome, tituloUnpocodemi, tituloContacto, tituloModalidades, tituloServicios {
    .#{$titulo} {
        font-family: 'Lobster', cursive;

        @if ($titulo==tituloHome) {
            font-size: 12vw;
            color: white;
            text-shadow: 5px 6px 8px #000;
        }

        @else if $titulo==tituloModalidades {
            font-size: 11rem;
            color: white;
            padding-top: 19rem;
            text-shadow: 10px 10px 15px #000;
        }

        @else if $titulo==tituloServicios {
            font-size: 12rem;
            color: white;
            padding-top: 3rem;
            text-shadow: 10px 10px 15px #000;
        }

        @else if $titulo==tituloUnpocodemi {
            font-size: 4rem;
            color: black;
        }

        @else {
            font-size: 6rem;
            padding-top: 0.5em;
            padding-left: 0.5em;
            color: black;
        }
    }
}

//interacion (en Unpocodemi)
p {
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
}

@for $i from 1 through 4 {
    .parrafo#{$i} {
        font-size: $i * 10px;
        color: $third-font * $i;
        word-spacing: 5px * $i;
    }
}

// mixin

@mixin boxes ($width, $height, $font-size, $color, $background-color) {
    width: $width;
    height: $height;
    font-size: $font-size;
    color: $color;
    background-color: $background-color;
}

.botonIndex {
    @include boxes (10rem, 3rem, 1.5em, white, rgb(175, 41, 0))
}

.page-section__form__bordes__formulario__boton {
    @include boxes (10rem, 3rem, 1.5em, black, aqua)
}

// footer 

.footer{
    padding-top: 2em;

    &-col ul li a{
        color: black;
    }
}

/* media queries */

@media screen and (max-width: 480px) {
    
.bienvenido {

    &__parrafo {
        font-size: 3vw;
    }

    &__wpp {
        width: 2rem;
        height: 4rem;

        &:hover {
            width: 3rem;
            height: 5rem;
        }
    }
}
.footer{

    h3{
        font-size: 1em;
    }
    p{
        font-size: 0.8em;
    }
    &-col{
        padding: 1em;
        .redes{
            display: flex;
            justify-content: space-evenly;
            padding-top: 1em;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
            font-size: 0.8em;
            justify-content: center;
        }
    }
}
  }