@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Bowlby+One+SC&family=Lobster&family=Marck+Script&family=Patrick+Hand&family=Rock+Salt&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

// VARIABLES
$primary-background: gainsboro;
$secondary-font: #434343;
$third-font: #000;
$forty-font: #edcb54;
$font-size: 30px;
$page: home;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100% !important;
    z-index: 2;
}

.navbar-brand {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-family: 'WindSong', cursive;
}

/* index */

.imagenFondo {
    padding-top: 5em;
    background-image: url(../assets/multimedia/fotomic.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 50em;

    &__1 {
        margin-left: 12rem;
        line-height: 8rem;

        .btn {
            margin-left: 10rem;
        }
    }

    &__2 {
        &--btnWpp {
            position: fixed;
            width: 3rem;
            height: 3rem;
            bottom: 3rem;
            right: 8rem;
            background-color: #0df053;
            color: #fff;
            border-radius: 50px;
            text-align: center;
            font-size: 2rem;
            z-index: 100;
            text-shadow: 2px 2px 8px $third-font;
            box-shadow: 2px 2px 8px $third-font;
        }

        &:hover {
            transform: scale(1.1, 1.1);
            transition: 1s;
        }
    }
}

.parte2 {
    background-image: url(../assets/multimedia/grabaciones-min.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 50em;
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;

    &__foto1 {
        width: 38.5%;
        border-radius: 10px;
        box-shadow: #000 10px 5px 15px;
    }

    &__texto {
        width: 22rem;
        height: auto;
        padding: 2rem;
        margin-top: 1rem;
        border-radius: 10px;
        text-align: center;
        background-color: rgba(172, 172, 172, 0.527);
        color: white;
        font-family: 'Poppins', sans-serif;
        font-size: 1.5em;
        box-shadow: 2px 2px 8px $third-font;
    }
}

// servicios

.servicios {
    width: 100%;
    padding-top: 4rem;

    &__encabezado {
        background-image: url(../assets/multimedia/servicios.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: space-evenly;
        align-content: center;

        &--texto {
            display: flex;
            flex-direction: column;
            text-align: center;
            background: none;
            box-shadow: none;

            h2 {
                text-align: center;
                color: white;
                border: $third-font;
            }
        }
    }

    &__cards {
        display: flex;
        justify-content: space-evenly;
        background-image: url(../assets/multimedia/foto9.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        padding-left: 2em;
        padding-right: 4em;
        padding-bottom: 3em;
        flex-wrap: wrap;


        img {
            box-shadow: 1px 1px 5px $secondary-font;
        }

        &--card {
            width: 18rem;
            height: auto;
            margin: 4em;
            text-align: center;
            background: none;
            padding: 0.5em;

            &:hover {
                transform: scale(1.1, 1.1);

                img {
                    transform: rotateY(180deg);
                }
            }

            &--tarj {
                color: white;
                background-color: rgba(0, 0, 0, 0.815);
            }
        }
    }
}


/* MODALIDADES */
.containerMod {
    text-align: center;
    padding-top: 4rem;
    background-image: url(../assets/multimedia/foto4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 200vh;

    &__pv {
        padding-top: 1rem;
        display: flex;
        justify-content: center;

        &--card {
            width: 25rem;
            height: auto;
            margin: 2em;
            text-align: center;
            background: none;
            padding: 0.5em;

            &:hover {
                transform: scale(1.1, 1.1);
            }

            &--tarj{

                color: white;
                background-color: rgba(0, 0, 0, 0.815);

                &--titulo {
                    font-size: 200%;
                }
    
                &--texto {
                    font-size: 120%;
                    padding-bottom: 5%;
                }
            }
        }
    }
}


// un poco de mi

.tarjetaPresentacion {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: $primary-background;
    padding-top: 4rem;

    &__imagen {
        width: 50%;

        img {
            width: 100%;
        }
    }

    &__texto {
        width: 50%;
        background-color: white !important;
        padding: 3%;
        padding-top: 2%;
        padding-bottom: 0%;
        text-align: justify;
        line-height: 1.5rem;

        &--p {
            &--lista {
                display: flex;
                justify-content: space-evenly;
            }
        }
    }
}

//CONTACTO

.pagContacto {
    padding-top: 2rem;
    background-image: url(../assets/multimedia/show.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 150vh;

    &__bloque1 {
        text-align: center;
        &--form {
            background-color: $primary-background;
            border-radius: 20px;
            box-shadow: 2px 2px 8px $third-font;
      

            &--bordes {
                &--formulario {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    &--contenido {
                        padding-bottom: 1rem;

                        input {
                            border-radius: 50px;
                            box-shadow: 2px 2px 8px $third-font;
                        }

                        textarea {
                            border-radius: 20px;
                            box-shadow: 2px 2px 8px $third-font;
                            margin-bottom: -2em;
                        }
                    }
                }
            }
        }
    }
}

// Pag 404
.boody{
    font-family: sans-serif;
    background-color:$third-font;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  
    &__container-404{
        text-align: center;
        width: 100%;
        max-width: 30rem;
        text-decoration: none;
        background-color: #fff;
        padding: 2rem;
        box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
        border-radius: 5px;
        line-height: 1.7;
        color: #434343;
        &--mic{
            width: 20em;
        }
        &--titulo{
            font-family: 'Lobster', cursive;
            font-size: 4em;
        }
    }
}

// header

@each $titulo in tituloHome,
tituloUnpocodemi,
tituloContacto,
tituloModalidades,
tituloServicios {
    .#{$titulo} {
        font-family: 'Lobster', cursive;

        @if ($titulo==tituloHome) {
            font-size: 10vw;
            width: 40%;
            margin-top: 5rem;
            text-align: center;
            color: white;
            line-height: 8rem;
            text-shadow: 10px 10px 15px $third-font;
        }

        @else if $titulo==tituloModalidades {
            font-size: 14vw;
            color: white;
            padding-top: 4rem;
            text-shadow: 10px 10px 15px $third-font;
        }

        @else if $titulo==tituloServicios {
            font-size: 15vw;
            color: white;
            padding-top: 3rem;
            text-shadow: 10px 10px 15px $third-font;
        }

        @else if $titulo==tituloUnpocodemi {
            font-size: 7vw;
            color: $third-font;
            line-height: 5rem;
            text-align: center;
        }

        @else {
            font-size: 8rem;
            padding-top: 0.5em;
            color: $third-font;
        }
    }
}

//interacion (en Unpocodemi)
p {
    padding-top: 1rem;
    font-size: 1rem;
    font-weight: 600;
}

@for $i from 1 through 4 {
    .parrafo#{$i} {
        font-size: $i * 10px;
        color: $third-font * $i;
        word-spacing: 5px * $i;
    }
}

// mixin

@mixin boxes ($width, $height, $font-size, $color, $background-color) {
    width: $width;
    height: $height;
    font-size: $font-size;
    color: $color;
    background-color: $background-color;
}

.botonIndex {
    @include boxes (10rem, 3rem, 1.5em, white, rgb(175, 41, 0))
}

.page-section__form__bordes__formulario__boton {
    @include boxes (10rem, 3rem, 1.5em, $third-font, aqua)
}

// footer 

.footer {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    display: flex;
    justify-content: center;
    color: $secondary-font;

    &-col ul li a {
        color: $secondary-font;
    }

    &-col ul li .btn-social {
        font-size: 2em;
    }
}


/* media queries */

@media screen and (max-width: 480px) {

    // INDEX

    .imagenFondo {
        background-image: url(../assets/multimedia/fotomic2.jpg);
        padding-top: 1.5em;
        height: 40em;

        &__1 {
            margin-left: -1rem;

            .btn {
                margin-left: 7rem;
                margin-top: 14em;
            }

            .tituloHome {
                font-size: 5em;
                line-height: 4rem;
                width: 100%;
            }
        }

        &__2 {
            &--btnWpp {
                margin-bottom: 5rem;
                margin-right: -5rem;
            }
        }
    }

    .parte2 {
        background-color: rgb(165, 71, 42);
        display: flex;
        flex-direction: column-reverse;

        &__foto1 {
            width: 100%;
            border-radius: 10px;
            box-shadow: #000 10px 5px 15px;
        }

        &__texto {
            width: 80%;
            height: auto;
            padding: 1rem;
            margin-top: 1rem;
            border-radius: 10px;
            text-align: center;
            background-color: rgba(172, 172, 172, 0.527);
            color: white;
            font-family: 'Poppins', sans-serif;
            font-size: 100%;
            box-shadow: 2px 2px 8px $third-font;
        }
    }

    // SERVICIOS

    .servicios {

        &__encabezado {
            &--texto {
                .tituloServicios {
                    margin-top: -6rem;
                    font-size: 5em;
                }
                h2 {
                    margin-top: 10em;
                }
            }
        }

        &__cards {
            display: flex;
            justify-content: center;
            padding-left: 2em;
            padding-right: 2em;
            padding-bottom: 3em;

            &--card {
                padding: 0.1em;
                margin: 0.5em;
                margin-top: 3em;
                width: 20rem;
            }
        }
    }

    // MODALIDADES

    .tituloModalidades {
        font-size: 4em;
    }
    .containerMod {

        height: auto;

        &__pv {
            padding-top: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 2em;
    
            &--card {
                width: 19rem;
                height: auto;
                margin: 2em;
                text-align: center;
                background: none;
                padding: 0.5em;
    
                &:hover {
                    transform: scale(1.1, 1.1);
                }
    
                &--tarj{
    
                    color: white;
                    background-color: rgba(0, 0, 0, 0.815);
    
                    &--titulo {
                        font-size: 200%;
                    }
        
                    &--texto {
                        font-size: 120%;
                        padding-bottom: 5%;
                    }
                }
            }
        }
    }

    // UN POCO DE MI

    .tarjetaPresentacion {
        display: flex;
        flex-direction: column;

        &__imagen {
            width: 100%;
        }

        &__texto {
            width: 90vw !important;
            padding-left: -2rem;
            margin: 0.4rem;
        }
    }

    // CONTACTO

    .pagContacto {
    
        &__bloque1 {
    
            .tituloContacto{
                font-size: 5em;
            }
        }
    }

    // PIE DE PAGINA

    .footer {

        h3 {
            font-size: 1em;
        }

        p {
            font-size: 0.8em;
        }

        &-col {
            padding: 1em;

            .redes {
                display: flex;
                justify-content: space-evenly;
                padding-top: 1em;
            }

            ul {
                display: flex;
                flex-wrap: wrap;
                font-size: 0.8em;
                justify-content: center;
            }
        }
    }
}