<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Clases, Profesor, Canto, Guitarra, Aprender a Cantar, Cantar Bien, Afinar, Vocal Coach">
  <meta name="description" content="Para reservas y consultas sobre Clases de Canto y/o Guitarra, Presenciales u Online, contactame.">
  <title>Clases de Canto / contacto</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Advent+Pro&family=Style+Script&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=WindSong&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Open+Sans&family=WindSong&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link rel="stylesheet" href="css/animate.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <div>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <div class="collapse navbar-collapse justify-content-start" id="navbarSupportedContent">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./servicios.html">Servicios</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="./modalidades.html"> Modalidades</a>
              </li>
            </ul>
          </div>
          <a class="navbar-brand fs-2" href="../index.html">Esteban Arevalo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav ">
              <li class="nav-item">
                <a class="nav-link dropdown" href="./unpocodemi.html" tabindex="-1" aria-disabled="true">Un poco de
                  mi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link dropdown" href="./contacto.html" tabindex="-1" aria-disabled="true">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <section>
      <div class="container">
        <div class="pagContacto">
          <div class="pagContacto__bloque1">
            <div>
              <h1 class="tituloContacto">Contacto</h1>
            </div>
            <div class="pagContacto__bloque1 pagContacto__bloque1--form modal-dialog">
              <div class="pagContacto__bloque1--form pagContacto__bloque1--form--bordes modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Contactame para mas informacion</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form class="pagContacto__bloque1--form--bordes pagContacto__bloque1--form--bordes--formulario" id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <div class="row align-items-stretch mb-5">
                      <div class="col-md-12">
                        <div class="pagContacto__bloque1--form--bordes--formulario pagContacto__bloque1--form--bordes--formulario--contenido form-group">
                          <!-- Name input-->
                          <input class="form-control" id="nombre" type="text" placeholder="Nombre *"
                            data-sb-validations="required" />
                          <div class="invalid-feedback" data-sb-feedback="name:required">El nombre es requerido.</div>
                        </div>
                        <div class="pagContacto__bloque1--form--bordes--formulario pagContacto__bloque1--form--bordes--formulario--contenido form-group">
                          <!-- Name input-->
                          <input class="form-control" id="apellido" type="text" placeholder="Apellido *"
                            data-sb-validations="required" />
                          <div class="invalid-feedback" data-sb-feedback="name:required">El nombre es requerido.</div>
                        </div>
                        <div class="pagContacto__bloque1--form--bordes--formulario pagContacto__bloque1--form--bordes--formulario--contenido form-group">
                          <!-- Email address input-->
                          <input class="form-control" id="email" type="email" placeholder="Email *"
                            data-sb-validations="required,email" />
                          <div class="invalid-feedback" data-sb-feedback="email:required">El email es requerido.</div>
                          <div class="invalid-feedback" data-sb-feedback="email:email">Email no valido.</div>
                        </div>
                        <div class="pagContacto__bloque1--form--bordes--formulario pagContacto__bloque1--form--bordes--formulario--contenido form-group mb-md-0">
                          <!-- Phone number input-->
                          <input class="form-control" id="celphone" type="tel" placeholder="Celular *"
                            data-sb-validations="required" />
                          <div class="invalid-feedback" data-sb-feedback="phone:required">El numero de celular es requerido.
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="pagContacto__bloque1--form--bordes--formulario pagContacto__bloque1--form--bordes--formulario--contenido form-group form-group-textarea mb-md-0">
                          <!-- Message input-->
                          <textarea rows="4" class="form-control" id="message" placeholder="Mensaje *"
                            data-sb-validations="required"></textarea>
                          <div class="invalid-feedback" data-sb-feedback="message:required">El mensaje es requerido.</div>
                        </div>
                      </div>
                    </div>
                    <!-- Submit success message-->
                    <div class="d-none" id="submitSuccessMessage">
                      <div class="text-center text-white mb-3">
                        <div class="fw-bolder">Envío de formulario exitoso!</div>
                        Para activar este formulario, regístrese en
                        <br />
                        <a
                          href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                      </div>
                    </div>
                    <!-- Submit error message-->
                    <div class="d-none" id="submitErrorMessage">
                      <div class="text-center text-danger mb-3">¡Error al enviar el mensaje!</div>
                    </div>
                    <!-- Submit Button-->
                    <div class="pagContacto__bloque1--form--bordes--formulario pagContacto__bloque1--form--bordes--formulario--boton text-center">
                      <a href="../views/404.html" class="btn">Enviar</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="pagContacto__bloque2">
            <img src="../assets/multimedia/ea-min.jpg" alt="Profesor tocando la guitarra">
          </div>
        </div>
        <a href="https://api.whatsapp.com/send?phone=+542494517926" class="bienvenido__btnWpp animate__animated animate__backInDown" target="_blank">
          <i class="fab fa-whatsapp"></i>
        </a>
      </div>
    </section>

    <footer class="text-center footer-style">
      <div class="container">
          <div class="row footer">
              <div class="col-md-3 footer-col">
                  <h3>Ubicacion</h3>
                  <p>
                      Tandil - Argentina
                  </p>
              </div>
              <div class="col-md-3 footer-col">
                  <h3>Mis redes</h3>
                  <ul class="list-inline redes">
                      <li>
                          <a  target="_blank" href="https://www.facebook.com/estevan.arevalo.14" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                      </li>
                      <li>
                          <a  target="_blank" href="https://www.instagram.com/eaescueladecanto/?hl=es" class="btn-social btn-outline"><i id="instagram" class="fab fa-instagram"></i></a>
                      </li>
                      <li>
                          <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                      </li>
                      <li>
                          <a  target="_blank" href="#" class="btn-social btn-outline"> <i id="youtube" class="fab fa-youtube"></i></a>
                      </li>
                  </ul>
              </div>
              <div class="col-md-3 footer-col">
                  <h3>Links</h3>
                  <ul class="list-inline">
                      <li class="nav-item">
                          <a class="nav-link" aria-current="page" href="./index.html">Home</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="./views/servicios.html">Servicios</a>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link" href="./views/modalidades.html"> Modalidades</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link dropdown" href="./views/unpocodemi.html" tabindex="-1"
                              aria-disabled="true">Un poco de
                              mi</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link dropdown" href="./views/contacto.html" tabindex="-1"
                              aria-disabled="true">Contacto</a>
                      </li>
                  </ul>
              </div>
              <div class="col-md-3 footer-col">
                  <h3>Trabajo de forma presencial u online</h3>
                  <p>Tengo más de 25 años de experiencia en el mundo de la musica y 10 años como profesor</p>
              </div>
          </div>
      </div>
      <script src="https://kit.fontawesome.com/f70a4d1ed3.js" crossorigin="anonymous"></script>
  </footer>
  </div>
  <script src="js/wow.min.js"></script>
  <script>
    new WOW().init();
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
  </script>
</body>

</html>