<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Clases, Profesor, Canto, Guitarra, Aprender a Cantar, Cantar Bien, Afinar, Vocal Coach">
    <meta name="description" content="Para reservas y consultas sobre Clases de Canto y/o Guitarra, Presenciales u Online, contactame.">
    <title>Clases de Canto / unpocodemi</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Advent+Pro&family=Style+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=WindSong&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Open+Sans&family=WindSong&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
    <div>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse justify-content-start" id="navbarSupportedContent">
                        <ul class="navbar-nav ">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="../index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./servicios.html">Servicios</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="./modalidades.html"> Modalidades</a>
                            </li>
                        </ul>
                    </div>
                    <a class="navbar-brand fs-2" href="../index.html">Esteban Arevalo</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        <ul class="navbar-nav ">
                            <li class="nav-item">
                                <a class="nav-link dropdown" href="./unpocodemi.html" tabindex="-1"
                                    aria-disabled="true">Un poco de
                                    mi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown" href="./contacto.html" tabindex="-1"
                                    aria-disabled="true">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section>
            <div class="container">
                <div class="tarjetaPresentacion">
                    <div class="tarjetaPresentacion__imagen">
                        <img src="../assets/multimedia/mobile-min.jpg" alt="Profesor Esteban Arevalo">
                    </div>
                    <div class="tarjetaPresentacion__texto card" style="width: 40rem;">
                        <div class="card-body">
                            <h1 class="card-title tituloUnpocodemi">Trayectoria Musical</h1>
                            <p class="card-text">Soy Esteban Javier Arévalo, profesor de canto desde hace 10 años.
                                Estudié desarrollo de la voz, en CABA. Soy músico y compositor.
                                Fui parte de varios proyectos musicales. El más reconocido fue Alazanes, grupo folklórico que
                                participó en algunos de los festivales más importantes de Argentina, -entre ellos, Cosquín,
                                Jesús María, La
                                Chaya-, y en festivales internacionales de Uruguay y Chile. Con la mencionada banda, grabamos
                                tres
                                trabajos discográficos, que fueron lanzados a nivel nacional, y dos de ellos, ternados en los
                                “Premios Gardel de la Música”.
                                Como profesor de canto, busco potenciar a cada alumno/a, y lograr la adecuada proyección de la
                                voz a
                                través de ejercicios de colocación-vocalización. También fortalecer la interpretación, la
                                sensibilidad y credibilidad al momento de comunicar una canción. Soy un convencido de que con
                                práctica y esfuerzo,
                                cada uno podrá superarse y realizarse como artista.
                                Estoy para ayudarlos en ese proceso, transmitiéndoles mi experiencia y amor por la música.
                            </p>
                        </div>
                    </div>
                </div>
                <a href="https://api.whatsapp.com/send?phone=+542494517926" class="bienvenido__btnWpp animate__animated animate__backInDown" target="_blank">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </section>
        <footer class="text-center footer-style">
            <div class="container">
                <div class="row footer">
                    <div class="col-md-3 footer-col">
                        <h3>Ubicacion</h3>
                        <p>
                            Tandil - Argentina
                        </p>
                    </div>
                    <div class="col-md-3 footer-col">
                        <h3>Mis redes</h3>
                        <ul class="list-inline">
                            <li>
                                <a  target="_blank" href="https://www.facebook.com/estevan.arevalo.14" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a  target="_blank" href="https://www.instagram.com/eaescueladecanto/?hl=es" class="btn-social btn-outline"><i id="instagram" class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a  target="_blank" href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a  target="_blank" href="#" class="btn-social btn-outline"> <i id="youtube" class="fab fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-col">
                        <h3>Links</h3>
                        <ul class="list-inline">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="./index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="./views/servicios.html">Servicios</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="./views/modalidades.html"> Modalidades</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown" href="./views/unpocodemi.html" tabindex="-1"
                                    aria-disabled="true">Un poco de
                                    mi</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link dropdown" href="./views/contacto.html" tabindex="-1"
                                    aria-disabled="true">Contacto</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-col">
                        <h3>Trabajo de forma presencial u online</h3>
                        <p>Tengo más de 25 años de experiencia en el mundo de la musica y 10 años como profesor</p>
                    </div>
                </div>
            </div>
            <script src="https://kit.fontawesome.com/f70a4d1ed3.js" crossorigin="anonymous"></script>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
    </script>
</body>

</html>